
        
    </main>
    <hr>
    <footer>
        <p>For any business enquiries, contact me via email: me@jilbao.com</p>
        <a class="footer-link" href="https://www.linkedin.com/in/cagin-yarkin-sari"><i class="fa-brands fa-linkedin"></i></a>
        <a class="footer-link" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
        <a class="footer-link" href="https://www.jilbao.com"><i class="fa-solid fa-blog"></i></a>
        <p>
            Copyright &copy; by Jilbao, 2022
        </p>
    </footer>
</body>
</html>