<%- include('partials/header') %>
<%- include('partials/navbarlogged') %>

<h1>DASHBOARD</h1>
<a class="btn btn-outline-light" href="/addsub" role="button">Add New Subscription</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Fee</th>
        <th scope="col">Payment Tool</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
     
    </tbody>
</table>

<%- include('partials/footer') %> 