<%- include('partials/header') %>
<%- include('partials/navbar') %>

<h1>Hello There !</h1>
<hr>
<h3>Do you have problem to keep tracking your subscriptions ?</h3>
<h1>Don't Worry !</h1>
<h5>TooMuchSubs is basic web application to keep information of your subscriptions</h5>

<%- include('partials/footer') %> 