<%- include('partials/header') %>
<%- include('partials/navbar') %>

<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
    </div>
    <p class="pw-desc">Min 8 Characters</p>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" pattern=".{8,}">
    </div>
    
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Password(again)" type="password" pattern=".{8,}">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>

<%- include('partials/footer') %> 