:root{
    /* COLOR PALETTE */
    --maincolor : #1C3C54;
    --secondary: #1D6665;
    --whitespace: #E6FFFE;
    --hintcolor: #6E8BA3;
}

*, ::after, ::before{
    padding: 0;
    margin: 0;
    
}

body {
    background-color: var(--secondary);
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: var(--maincolor);
    border-color: var(--maincolor);
    padding-left: 2rem;
    padding-right: 2rem;
    
}
.logo {
    font-size: 1.65rem; 
}
.form-select{
    width: 150px;
}
.btn {
    background-color: var(--maincolor);
}
footer{
    text-align: center;
    color: var(--whitespace);
}
h1,h2,h3,h4,h5,h6 {
    color: var(--whitespace);
}
.table {
    width: 70%;
    margin: 1rem auto;
    color:var(--whitespace);
}
label {
    color:var(--whitespace);
}
.feeinput {
    width: 160px;   
}
.payment-tool-info{
    color:var(--whitespace);
}
i {
    font-size: 2rem;
    color:var(--whitespace);
    margin: 1rem;
}
.pw-desc{
    color:var(--whitespace);
    font-size: 0.8rem;
}